In [1]:
import numpy as np

In [2]:
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import datetime as dt
import mplfinance as mpf

In [3]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: lxml in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: pandas>=0.23 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas_datareader) (1.3.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.6)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.5.30)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\lenovo\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [5]:
def save_to_csv_from_yahoo(ticker,syear,smonth,sday,eyear,emonth,eday):
    start=dt.datetime(syear,smonth,sday)
    end=dt.datetime(eyear,emonth,eday)
    
    df=web.DataReader(ticker,'yahoo',start,end)
    df.to_csv('D:/python for finance/'+ticker+'.csv')
    return df

In [6]:
save_to_csv_from_yahoo('AMZN',2020,1,1,2021,1,1)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,1853.260010,1832.229980,1842.000000,1847.839966,2506500,1847.839966
2020-01-02,1898.010010,1864.150024,1875.000000,1898.010010,4029000,1898.010010
2020-01-03,1886.199951,1864.500000,1864.500000,1874.969971,3764400,1874.969971
2020-01-06,1903.689941,1860.000000,1860.000000,1902.880005,4061800,1902.880005
2020-01-07,1913.890015,1892.040039,1904.500000,1906.859985,4044900,1906.859985
...,...,...,...,...,...,...
2020-12-24,3202.000000,3169.000000,3193.899902,3172.689941,1451900,3172.689941
2020-12-28,3304.000000,3172.689941,3194.000000,3283.959961,5686800,3283.959961
2020-12-29,3350.649902,3281.219971,3309.939941,3322.000000,4872900,3322.000000
2020-12-30,3342.100098,3282.469971,3341.000000,3285.850098,3209300,3285.850098
2020-12-31,3282.919922,3241.199951,3275.000000,3256.929932,2957200,3256.929932